<a href="https://colab.research.google.com/github/kingpaglinawan/CPEN-21A-CPE-1-1/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Problem Statement 1
###Program that will produce an output of sum of 10 numbers less than 5 using FOR LOOP statement

In [49]:
sum = 0        
number = [-5,-4,-3,-2,-1,0,1,2,3,4,] 
for y in (number):
  sum = sum + y
print("The sum of 10 number is less than 5 is", sum)

The sum of 10 number is less than 5 is -5

##Problem Statement 2
### Create a Python program that will produce accept five numbers and determine the sum of first and last number among the five numbers entered using WHILE LOOP.

###Code 1

In [26]:
num = int(input("1st number: "))
while(num !=0):
  k = int(input("2nd number: "))
  i = int(input("3rd number: "))
  n = int(input("4th number: "))
  g = int(input("5th number: "))
  break
  y = g
while (y!=0):
  y = num + g
  print("the answer is", y)
  num -=1
  break

1st number: 789
2nd number: 76
3rd number: 67
4th number: 85
5th number: 65
the answer is 854

###Code 2-less code

In [34]:
code = 0
k = []
while code < 5:
  b = int(input(f"Insert number{code+1}: "))
  code +=1
  k.append(b)
print("Numbers",k)
print("total", k[0] + k[-1])

Insert number1: 789
Insert number2: 76
Insert number3: 67
Insert number4: 85
Insert number5: 65
Numbers [789, 76, 67, 85, 65]
total 854

##Problem Stament 3
###Create a Python program to calculate student grades. It accepts a numerical grade as input and it will display the character grade as output based on the given scale: (Use Nested-IF-Else statement)

In [48]:
grade = int(input("Numerical Grade: "))
if grade >=90:
  print ("Character Grade: A")
else:
  if grade <=90 and grade >=80:
    print ("Character Grade: B")
  else:
    if grade <=80 and grade >=70:
      print ("Character Grade: C")
    else:
      if grade <=70 and grade >=60:
        print ("Character Grade: D") 
      else:
        print ("Character Grade: F")

Numerical Grade: 95
Character Grade: A