<a href="https://colab.research.google.com/github/kingpaglinawan/CPEN-21A-CPE-1-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop Statement

In [2]:
week =["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The Break Statement

In [3]:
week =["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [4]:
week =["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Loop through a String

In [5]:
for x in "week":
  print(x)

w
e
e
k

The range () function

In [9]:
for x in range(6):
  print("Example 1",x)
for x in range(2,6):
  print("Example 2",x)

Example 1 0
Example 1 1
Example 1 2
Example 1 3
Example 1 4
Example 1 5
Example 2 2
Example 2 3
Example 2 4
Example 2 5

Nested Loops

In [12]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While Loop Statement

In [14]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

The Break Statement

In [18]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1  ##Assignment Operators for Addition

1
2
3

In [20]:
i=1
while i<6:
  i+=1  ##Assignment Operators for Additioni=1
  if i==3:
    continue
  else:
    print(i)

2
4
5
6

The Else Statement

In [21]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

###Application 1
Create a python program that displays:
Hello 0 Hello 1 Hello 2 Hello 3  Hello 4 Hello 5 Hello 6 Hello 7 Hello  8 Hello 9 Hello 10 (In vertical display)

In [23]:
hello =["Hello 1","Hello 2","Hello 3","Hello 4","Hello 5","Hello 6","Hello 7","Hello 8","Hello 9","Hello 10"]
for x in hello:
  print(x)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [24]:
i=0
while i<=10:
  print("Hello",i)
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

###Application 2
Create a Python program that displays integers less than 10 but not less than 3

In [5]:
for x in range(3,10):
  print("Integer",x)

Integer 3
Integer 4
Integer 5
Integer 6
Integer 7
Integer 8
Integer 9

In [2]:
i=3
while i<10:
  print(i)
  if i==10:
    break
  i+=1

3
4
5
6
7
8
9